asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
Django==4.2.20
extruct==0.18.0
html5lib==1.1
html_text==0.7.0
idna==3.10
isodate==0.7.2
jstyleson==0.0.2
lxml==5.4.0
lxml_html_clean==0.4.2
mf2py==2.0.1
pillow==11.2.1
pyparsing==3.2.3
pyRdfa3==3.6.4
rdflib==7.1.4
recipe_scrapers==15.7.1
requests==2.32.3
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.4.0
w3lib==2.3.1
webencodings==0.5.1
