{% extends "base_generic.html" %}

{% block content %}
<h1 class="text-4xl">Tag: {{tag}}</h1>
<button class="mt-4 bg-red-500 p-1"><a href="{% url 'tag-delete' pk=tag.pk %}">Delete</a></button>
<button class="mt-4 bg-green-500 p-1"><a href="{% url 'tag-update' pk=tag.pk %}">Update</a></button>

<ul class="mt-4 grid grid-cols-3 gap-4">
{% for recipe in recipes %}
<a href="{{ recipe.get_absolute_url }}"
    <li class="grid grid-cols-[40%_60%] bg-black gap-2">
        <div class="p-2">
            <p class="text-xl">{{ recipe }}</p>
            {% if recipe.tag %}
            <ul class="grid grid-cols-2 gap-2">
                {% for tag in recipe.tag.all %}
                <p class="px-4 text-center" style="background-color: {{ tag.color }}">{{ tag }}</p>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <img src="{{ recipe.picture.url }}" />
    </li>
</a>
{% endfor %}
</ul>
{% endblock %}
