<!doctype html>
<html lang="en">
  <head>
    {% block title %}
      <title>Gordon Loves You</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
  </head>

  <body class="bg-gray-700">
    <div class="flex h-screen">
    <div class="bg-pink-950 w-64 p-4">
        <div class="flex justify-center">
            <h1 class="text-xl">Gordon Loves You!</h1>
        </div>
        <div class="flex justify-center">
            <img src="{% static "images/gordon.png" %}"
            class="h-36 w-36 m-auto">
        </div>
        <nav class="mt-4">
            <ul>
              <li class="text-lg"><a href="{% url 'index' %}">Home</a></li>
              <li class="text-lg"><a href="{% url 'recipe-import' %}">Import recipe</a></li>
              <li class="text-lg"><a href="">All tags</a></li>
            </ul>
        </nav>
    </div>
    <div class="p-8">
        {% block content %}
        {% endblock content %}
    </div>
    </div>
  </body>
</html>

