{% extends "base_generic.html" %}

{% block content %}
<h1 class="text-4xl">Gordon Loves You!</h1>
<p>
    Welcome to Gordon Loves You, a website developed by
    <em>Andrew Gregory Neumann</em>!
</p>

<h2 class="mt-4 text-3xl">GLY statistics</h2>
<ul>
    <li><strong>Recipes:</strong> {{ num_recipes }}</li>
    <li><strong>Tags:</strong> {{ num_tags }}</li>
</ul>

{% if recipes %}
<ul class="mt-4">
    {% for recipe in recipes %}
    <a href="{{ recipe.get_absolute_url }}" <li>
        <p>{{ recipe }}</p>
        <img src="{{ recipe.picture.url }}" />
        {% if recipe.tag %}
        <ul>
            {% for tag in recipe.tag.all %}
            <p class="p-4" style="background-color: {{ tag.color }}">{{ tag }}</p>
            {% endfor %}
        </ul>
        {% endif %}
        </li>
    </a>
    {% endfor %}
</ul>
{% else %}
<p>There are currently no recipes in the program.
</p>
{% endif %}
{% endblock %}
